.container,
body,
html {
    height: 100%;
}

@font-face {
    font-family: minecrafter;
    src: url(../fonts/Minecrafter.Alt.ttf);
}

.logo {
    width: 55%;
}

.logo img {
    width: 100%;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.toggle {
    width: 270px;
    height: 120px;
    border-radius: 70px;
    border-width: 5px;
    border-style: solid;
    border-color: #d3efff;
    background-color: #bae6ff;
    transition: background-color 1s;
    margin-top: 100px;
    margin-bottom: 100px;
}
.clickable {
    cursor: pointer;
}

.cube,
.face {
    width: 150px;
    height: 150px;
}

#loading,
.cube {
    transition: all .75s ease;
}

.status {
    font-family: minecrafter;
    font-size: 4.3rem;
    text-align: center;
    color: #3C3C3C;
}
.status span:nth-child(2) {
    color: transparent;
}
.status span.off {
    color: red;
}
.status span.pending {
    color: rgb(208, 166, 5);
}
.status span.stopping {
    color: rgba(56, 14, 14, .66);
}
.status span.on {
    color: green;
}

#loader {
    background: linear-gradient(to bottom, #cee7d4 0, #f5f4c9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    perspective: 1000px;
}

.cube {
    position: relative;
    margin: calc(45vh - 150px) auto;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(45deg);
}

#loader,
.face {
    position: absolute;
}

.face {
    box-sizing: border-box;
}

.face.top {
    transform: rotateY(180deg) rotateX(90deg) translate3d(0, 0, 75px);
}

.face.bottom {
    transform: rotateY(180deg) rotateX(90deg) translate3d(0, 0, -75px);
}

.face.front {
    transform: translate3d(0, 0, 75px);
}

.face.back {
    transform: translate3d(0, 0, -75px);
}

.face.left {
    transform: rotateY(90deg) translate3d(0, 0, -75px);
}

.face.right {
    transform: rotateY(90deg) translate3d(0, 0, 75px);
}

.grass .back,
.grass .front,
.grass .left,
.grass .right {
    background: url(../images/block_side.jpg);
    background-size: 100% 100%;
}

.grass .top {
    background: url(../images/block_top.jpg);
    background-size: 100% 100%;
}

.grass .bottom {
    background: url(../images/block_bottom.jpg);
    background-size: 100% 100%;
    text-align: center;
}

#origin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 5s;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    z-index: 5;
}

#loader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#loading {
    font-size: 75px;
    font-family: minecrafter, Impact, 'Helvetica Inserat', 'Arial Black', 'sans serif';
    position: relative;
    top: calc(45vh - 150px);
    text-align: center;
    z-index: 1;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 5s;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotateX(-3deg) rotateY(0);
    }

    to {
        transform: rotateX(-3deg) rotateY(360deg);
    }
}